:root{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(24, 71, 5);
    background-image: url("images/pexels-cottonbro-5473951.jpg");
    background-size: cover;
}

footer{
    background-color:  rgb(152, 241, 117);
    opacity: 75%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:black;
    text-align: center;
    
}

nav{
    background-color: rgb(152, 241, 117);
    opacity:75%;
    color:black;
    font-size:larger;
    padding:5px;
    margin-bottom: 5px;
}

header ul li{
    
    display:inline;
    text-align: left; 
    padding-right: 25px;
    list-style: none;
}

header li a:link{
    color:white;
    text-decoration: none;

}

header li a:visited{
    color:rgb(107, 107, 12);
    text-decoration: none;

}

header li a:hover{
    color: purple;
    text-decoration: none;

}

header li a:active{
    color:red;
    text-decoration: none;

}

article{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.card{
    background-color: rgb(227, 250, 218);
    border-radius: 5px;
    text-align:justify;
    width:fit-content;
    padding: 20px;
    opacity:80%;
    margin: 20px;
    order:0;
    flex:400px;;
}

#ucas{
    order:2;
    background-color: rgb(192, 233, 177);
    
}

#future{
    order:4;
    background-color: rgb(114, 173, 92);
    
}

#favourites{
    order:3;
    background-color: rgb(161, 211, 143);
}

#timer{
    order:5;
}

#timer-button{
    padding: 10px;
    background-color:rgb(24, 71, 5);
    color:rgb(152, 241, 117);
    border-radius: 5px;
}

#countdown-timer {
   
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(24, 71, 5);
    margin-top: 20px;
    color:rgb(152, 241, 117);
}
 .hidden{
    display: none;
 }